<h1 class="text-center my-4">Restaurants</h1>

<ul class="list-unstyled">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant), class: "text-decoration-none text-dark" do  %>
      <li class="card mb-3 p-3 shadow-sm">
        <p><strong>Name:</strong> <%= restaurant.name %></p>
        <p><strong>Address:</strong> <%= restaurant.address %></p>
        <p><strong>Telephone:</strong> <%= restaurant.phone_number %></p>
        <p><strong>Category:</strong> <%= restaurant.category %></p>
      </li>
    <% end %>
  <% end %>
</ul>
