<h1>Restaurant <%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Telephone:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>

<hr>
<br>

<h2>Reviews:</h2>

<% if @restaurant.reviews.any? %>
  <ul class="list-unstyled">
    <%  @restaurant.reviews.each do |review| %>
      <% if review.rating.present? && review.content.present? %>
        <li class="card mb-3 p-3 shadow-sm">
          <p class="mb-0"><strong>Rating:</strong> <%= "⭐️" * review.rating.to_i %></p>
          <p class="mb-0"><strong>Content:</strong> <%= review.content %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet.</p>
<% end %>

<h3>New review</h3>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "Home", restaurants_path %>
